project.Rproj
.Rhistory
.RData
.Ruserdata
.httr-oauth
token.rds
gs_token.rds
googlesheets_token.rds
.Rproj.user
pander*.md
sessioninfo.*
skeleton.pdf
plot-1.png
PFbaseproject.Rcheck/
PFbaseproject*.tar.gz
PFbaseproject*.tgz
